/* common-css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

/* header-start */
.header {
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1322px;
    left: -160px;
    top: -28px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 347px;
    margin-bottom: 102px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
}

nav ul {
    display: flex;
    margin-top: 63px;
}

nav li {
    list-style: none;
    margin-left: 30px;
}

nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner styles */
.banner {
    text-align: center;
    margin-bottom: 85px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 32px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    left: 870px;
    top: 463px;
    background: #FF900E;
    border-radius: 8px;
    margin-bottom: 70px;
}

.text {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.bg {
    width: 1440px;
    height: 700px;
    left: 240px;
    top: 577px;
}

/* quick styles */
.section {}

.quick-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.pic-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 73px;
    margin-bottom: 100px;
    margin-top: 85px;
    left: 54px;
}

.quick-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}

.black {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.red {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.quick-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

/* feature part styles */
.feature-part {
    display: flex;
    margin-bottom: 130px;
    margin: 0px 150px;

}

.small {
    width: 800px;
    height:1060px;
    left: 920px;
    top: 2300px;
    position: absolute;

}

.feature-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 23px;
}

.feature-dsecription {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.title-mini {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 5px;
}

.description-mini {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.mini-shadow {
    width: 586px;
    height: 171px;
    left: 240px;
    top: 2522px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}

.btn-big {
    width: 342px;
    height: 200px;
    left: 880px;
    top: 3104px;
    background: #FF900E;
    border-radius: 8px;
    position: absolute; 
}
.btn-big:hover{
     box-shadow: inset;
     transform:scale(1.5) ;
     -webkit-transform:scale(1.5) ;
     -moz-transform:scale(1.5) ;
     -ms-transform:scale(1.5) ;
     -o-transform:scale(1.5) ;
}

.big-font {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}
.big-font:hover{
 color: aqua;
}

.small-font {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* fact part style */
.fact {
    justify-items: right;
    margin: 0px 150px;
    margin-bottom: 100px;
}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.fact-discription {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* logo-part styles */
.logos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 180px;

}
.logo-part:hover{
 z-index: 1;
 box-shadow: 0 8px 50px rgba(0, 0, 0, 0.02);
 transform: scale(1.05);
 -webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -ms-transform: scale(1.05);
 -o-transform: scale(1.05);
 background-color: #FF900E;
}


.logo-part {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.style-container {
    width: 169px;
    height: 136.22px;
    left: 312px;
    top: 3709px;
    text-align: center;
    margin: 45px auto;


}

.gain {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.digit {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}

/* Sponspors style */
.Sponspors {
    text-align: center;
}

.Sponspor-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.Sponspor-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 60px;
}

/* brand-logo styles */
.brand {
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}

/* footer styles */
footer{
    text-align: center;
    width: 1440px;
    height: 100px;
    left: 240px;
    top: 4444px;
    background: #FFF4E7;
    border-radius: 8px;
    margin: 0 80px ;
}

 .footer-bottom{
    margin: 0 auto;
    font-weight: 400;
    font-size: 20px;
    color: #424242;

}